<footer>
    <ul class="footer-sns">
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-google-plus"></i></li>
        <li><i class="fa fa-instagram"></i></li>
    </ul>
    <ul class="footer-menu">
        <li>About THERE</li>
        <li>이용약관</li>
        <li>개인정보취급방침</li>
        <li>여행자약관</li>
    </ul>
    <div class="footer-info">
        상호명: (주)한빛ENI | 사업자등록번호: 000-00-00000 | 통신판매업신고: 제2017-서울마포-00000호 | 관광사업자번호: 제2017-000000호<br>
        대표: 김한빛 | 대표번호: 0000-0000(평일 09:30~18:00) | 이메일 : hanbit@hanbit-there.com | 주소:서울시 마포구 백범로 23 B1<br>
        © 2017 Hanbit There. All Rights Reserved
    </div>
</footer>
