<footer>
    <ul class="footer-sns">
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-google-plus"></i></li>
        <li><i class="fa fa-instagram"></i></li>
    </ul>
    <ul class="footer-menu">
        <li>About THERE</li>
        <li>이용약관</li>
        <li>개인정보취급방침</li>
        <li>여행자약관</li>
    </ul>
</footer>
