<header>
    <div class="header-logo">
        Hanbit There
    </div>
    <ul class="header-menu">
        <li>
            <div class="header-menu-text">
                아메리카
            </div>
            <ul class="header-sub-menu">
                <li>괌</li>
                <li>뉴욕</li>
                <li>라스베가스</li>
                <li>사이판</li>
                <li>샌프란시스코</li>
                <li>하와이</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-text">
                아시아
            </div>
            <ul class="header-sub-menu">
                <li>다낭</li>
                <li>대만</li>
                <li>도쿄</li>
                <li>라오스</li>
                <li>마카오</li>
                <li>몽골</li>
                <li>발리</li>
                <li>방콕</li>
                <li>보라카이</li>
                <li>상해</li>
                <li>세부</li>
                <li>시엠립</li>
                <li>싱가폴</li>
                <li>오사카</li>
                <li>오키나와</li>
                <li>치앙마이</li>
                <li>코타키나발루</li>
                <li>쿠알라룸푸르</li>
                <li>푸켓</li>
                <li>홋카이도</li>
                <li>홍콩</li>
                <li>후쿠오카</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-text">
                유럽
            </div>
            <ul class="header-sub-menu">
                <li>런던</li>
                <li>로마</li>
                <li>마드리드</li>
                <li>바르셀로나</li>
                <li>베네치아</li>
                <li>유레일패스</li>
                <li>인터라켄</li>
                <li>파리</li>
                <li>피렌체</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-text">
                오세아니아
            </div>
            <ul class="header-sub-menu">
                <li>골드코스트</li>
                <li>뉴질랜드</li>
                <li>다윈</li>
                <li>멜버른</li>
                <li>브리즈번</li>
                <li>시드니</li>
                <li>애들레이드</li>
                <li>울룰루</li>
                <li>타즈매니아</li>
                <li>퍼스</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-text">
                국내
            </div>
            <ul class="header-sub-menu">
                <li>강원</li>
                <li>서울</li>
                <li>순천</li>
                <li>전라</li>
                <li>제주</li>
                <li>충청</li>
                <li>통영</li>
            </ul>
        </li>
    </ul>
    <div class="header-btn-member">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </div>
</header>