<header>
    <div class="header-logo">
        Hanbit There
    </div>
    <ul class="header-menu">
    </ul>
    <div class="header-btn-member">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </div>
</header>