<li>
    <div class="header-menu-text">
        {{name}}
    </div>
    <ul class="header-sub-menu">
    {{#each subMenus ~}}
        <li theres-id="{{id}}">{{name}}</li>
    {{~/each}}
    </ul>
</li>