<header>
    <div class="header-logo">
        Hanbit There
    </div>
    <ul class="header-menu">
        <li>아메리카</li>
        <li>아시아</li>
        <li>유럽</li>
        <li>오세아니아</li>
        <li>국내</li>
    </ul>
    <div class="header-btn-member">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </div>
</header>