<header>
    <div class="header-logo">
        Hanbit There
    </div>
    <ul class="header-menu">
        <li>
            <div class="header-menu-text">
                아메리카
            </div>
            <ul class="header-sub-menu">
                <li>괌</li>
                <li>뉴욕</li>
                <li>라스베가스</li>
                <li>사이판</li>
                <li>샌프란시스코</li>
                <li>하와이</li>
            </ul>
        </li>
        <li>
            <div class="header-menu-text">
                아시아
            </div>
        </li>
        <li>
            <div class="header-menu-text">
                유럽
            </div>
        </li>
        <li>
            <div class="header-menu-text">
                오세아니아
            </div>
        </li>
        <li>
            <div class="header-menu-text">
                국내
            </div>
        </li>
    </ul>
    <div class="header-btn-member">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </div>
</header>