<header>
    <div class="header-logo">
        Hanbit There
    </div>
    <ul class="header-menu">
    </ul>
    {{#if search}}
    <div class="header-search">
        <input type="text" class="ht-search-header" placeholder="여행지, 액티비티, 여행정보 검색">
        <i class="fa fa-search"></i>
    </div>
    {{/if}}
    <div class="header-btn-member">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </div>
</header>