@import 'common.less';

.ht-section-main {
  position: relative;
  height: 500px;
  background-image: url(../img/section-main.jpg);
  background-size: cover;
  background-position: 50% 25%;
  color: #fff;
  text-align: center;
}

.ht-main-text {
  margin-top: 150px;
  font-size: 45px;
  letter-spacing: -2px;
}

.ht-sub-text {
  padding: 20px 0px;
  font-size: 20px;
  font-weight: bold;
}

.ht-search-box {
  position: relative;
  display: inline-block;
}

.ht-search-main {
  width: 650px;
  padding: 20px 60px 20px 20px;
  color: #666;
}

.ht-search-icon {
  position: absolute;
  top: 12px;
  right: 18px;
  color: @main-color;
  font-size: 35px;
}

.ht-download-app {
  margin-top: 30px;
}

.ht-download-app > li {
  display: inline-block;
  height: 50px;
  margin: 0px 10px;
  padding: 0px 25px;
  border-radius: 25px;
  background-color: #fff;
  color: @font-color;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
}

.ht-download-app > li .fa-apple {
  font-size: 30px;
}

.ht-download-app > li > * {
  vertical-align: middle;
}

.ht-download-app > li > span {
  color: #666;
}

.play-logo {
  height: 30px;
}

.ht-download-app > li:hover {
  background-color: rgba(255, 255, 255, 0.6);
}