@import 'common.less';

.ht-section-there {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  text-align: center;
}

.ht-there-name {
  margin-top: 150px;
  font-size: 32px;
  font-weight: bold;
}

.ht-there-summary {
  margin-top: 30px;
  font-size: 14px;
  font-weight: bold;
}