<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<section class="ht-section-main">
    <div class="dark-layer">
        <div class="ht-main-text">
            그곳에서 꼭 해야 할 한가지 Activity
        </div>
        <div class="ht-sub-text">
            여행지별 놓쳐서는 안될 액티비티를 확인해보세요.
        </div>
        <div class="ht-search-box">
            <input type="text" class="ht-search-main"
                placeholder="가고 싶은 여행지, 투어, 액티비티를 검색해보세요.">
            <i class="ht-search-icon fa fa-search"></i>
        </div>
        <ul class="ht-download-app">
            <li>
                <img src="./img/play-logo.png" class="play-logo">
            </li>
            <li>
                <i class="fa fa-apple"></i>
                <span>Apple Store</span>
            </li>
        </ul>
    </div>
</section>
<section class="ht-section-character">
    <ul class="ht-characters">
        <li>
            <div class="ht-character-no">1</div>
            <img class="ht-character" src="./img/ic-step1.png">
            <div class="ht-character">
                여행지를 선택,<br>
                모든 액티비티를 한번에 확인
            </div>
        </li>
        <li>
            <div class="ht-character-no">2</div>
            <img class="ht-character" src="./img/ic-step2.png">
            <div class="ht-character">
                각 여행지, 액티비티의 정보,<br>
                사진, 후기를 한눈에 보기
            </div>
        </li>
        <li>
            <div class="ht-character-no">3</div>
            <img class="ht-character" src="./img/ic-step3.png">
            <div class="ht-character">
                빠르고 간편하게<br>
                예약 및 결재 완료
            </div>
        </li>
    </ul>
</section>
<section>
    <div class="ht-section-title">
        지금 뜨는 <span class="ht-highlight">핫</span> Tours & Activities
    </div>
    <div class="ht-section-contents">
        <ul class="ht-hot-area">
            <li style="background-image: url(./img/bali.jpg)">
                <div class="dark-layer">
                    진정한 힐링을<br>
                    원하신다면<br>
                    <strong>발리</strong>
                </div>
            </li>
            <li style="background-image: url(./img/saipan.jpg)">
                <div class="dark-layer">
                    미국가고 싶지만<br>
                    예산이 부족하다면<br>
                    <strong>사이판</strong>
                </div>
            </li>
            <li style="background-image: url(./img/singapore.jpg)">
                <div class="dark-layer">
                    엄마랑 가기 좋은<br>
                    깨끗한 <strong>싱가폴</strong>
                </div>
            </li>
        </ul>
        <ul class="ht-hot-activity ht-section-items">
            <li style="background-image: url(./img/suffing.jpg)">
                <div class="dark-layer">
                    <div class="ht-item-text">
                        <div class="ht-item-title">발리 꾸따 오딧세이 서핑스쿨</div>
                        <div class="ht-item-from">from</div>
                        <div class="ht-item-price">
                            ₩39,000 <span class="ht-item-org-price">41,730</span>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(./img/managaha.jpg)">
                <div class="dark-layer">
                    <div class="ht-item-text">
                        <div class="ht-item-title">마하가하섬 스페셜 투어</div>
                        <div class="ht-item-from">from</div>
                        <div class="ht-item-price">
                            ₩125,680 <span class="ht-item-org-price">135,750</span>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(./img/gardens.jpg)">
                <div class="dark-layer">
                    <div class="ht-item-text">
                        <div class="ht-item-quick">
                            <i class="glyphicon glyphicon-flash"></i>
                            바로예약
                        </div>
                        <div class="ht-item-title">가든스 바이 더 베이</div>
                        <div class="ht-item-from">from</div>
                        <div class="ht-item-price">
                            ₩16,880 <span class="ht-item-org-price">17,890</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section>
    <div class="ht-section-title">
        요즘 많이 찾는 인기 여행지 Best
    </div>
    <div class="ht-section-contents">
        <ul class="ht-best-activity ht-section-items">
            <li style="background-image: url(./img/turbojet.jpg)">
                <div class="dark-layer">
                    <div class="ht-item-best">1</div>
                    <div class="ht-item-text">
                        <div class="ht-item-quick">
                            <i class="glyphicon glyphicon-flash"></i>
                            바로예약
                        </div>
                        <div class="ht-item-title">터보젯 실시간 예약</div>
                        <div class="ht-item-from">from</div>
                        <div class="ht-item-price">
                            ₩22,940 <span class="ht-item-org-price">24,780</span>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(./img/pickup.jpg)">
                <div class="dark-layer">
                    <div class="ht-item-best">2</div>
                    <div class="ht-item-text">
                        <div class="ht-item-title">보라카이 픽업샌딩</div>
                        <div class="ht-item-from">from</div>
                        <div class="ht-item-price">
                            ₩31,250 <span class="ht-item-org-price">33,750</span>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(./img/cocopalm.jpg)">
                <div class="dark-layer">
                    <div class="ht-item-best">3</div>
                    <div class="ht-item-text">
                        <div class="ht-item-title">코코팜 가든 비치</div>
                        <div class="ht-item-from">from</div>
                        <div class="ht-item-price">
                            ₩69,180 <span class="ht-item-org-price">75,410</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="ht-section-travel">
    <div class="ht-section-title">
        감성을 자극하는 여행자들의 이야기
    </div>
    <div class="ht-section-contents">
        <div class="ht-view-all">
            View all
        </div>
        <ul class="ht-travel ht-section-items">
            <li style="background-image: url(./img/sentosa.jpg)">
                <div class="dark-layer">
                    <div class="ht-travel-header">
                        THERE's Travel
                    </div>
                    <div class="ht-travel-title">
                        센토사 즐기센!
                    </div>
                    <div class="ht-travel-sub-title">
                        싱가폴에서 가장 아름다운 섬
                    </div>
                    <div class="ht-travel-editor">
                        Edited by Hanbit<br>
                        from THERE
                    </div>
                </div>
            </li>
            <li style="background-image: url(./img/singapore-food.jpg)">
                <div class="dark-layer">
                    <div class="ht-travel-header">
                        THERE's Travel
                    </div>
                    <div class="ht-travel-title">
                        싱가폴 먹킷로드
                    </div>
                    <div class="ht-travel-sub-title">
                        인생 먹거리를 찾아 떠나는 싱가폴~
                    </div>
                    <div class="ht-travel-editor">
                        Edited by Hanbit<br>
                        from THERE
                    </div>
                </div>
            </li>
            <li style="background-image: url(./img/rivercruze.jpg)">
                <div class="dark-layer">
                    <div class="ht-travel-header">
                        THERE's Travel
                    </div>
                    <div class="ht-travel-title">
                        파노라마 싱가폴 '리버크루즈'
                    </div>
                    <div class="ht-travel-sub-title">
                        싱가폴에서 꼭 해야할 한가지!
                    </div>
                    <div class="ht-travel-editor">
                        Edited by Hanbit<br>
                        from THERE
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="ht-section-review">
    <div class="ht-section-title">
        놓치면 후회 할 리얼 후기 Review
    </div>
    <div class="ht-section-contents">
        <div class="ht-view-all">
            View all
        </div>
        <ul class="ht-review ht-section-items">
            <li style="background-image: url(./img/typing.jpg)">
                <div class="dark-layer">
                    <div class="ht-review-title">
                        Traveler's Review
                    </div>
                    <div class="ht-review-sub-title">
                        리뷰를 찾아 여기저기 돌아다니는 것은 그만!<br>
                        이제 THERE, 한곳에서 확인하세요.
                    </div>
                </div>
            </li>
            <li>
                <div class="dark-layer">
                    <div class="ht-review-img"
                        style="background-image: url(./img/sentosa2.jpg)">
                        <div class="dark-layer"></div>
                    </div>
                    <div class="ht-review-title">
                        싱가폴 자유여행은 센토사 섬에서!
                    </div>
                    <div class="ht-review-sub-title">
                        싱가폴에서 하루는 센토사 섬<br>
                        유니버셜 스튜디오에서
                    </div>
                    <div class="ht-reivew-editor">
                        by 한빛(hanbit)
                    </div>
                </div>
            </li>
            <li>
                <div class="dark-layer">
                    <div class="ht-review-img"
                         style="background-image: url(./img/singapore2.jpg)">
                        <div class="dark-layer"></div>
                    </div>
                    <div class="ht-review-title">
                        싱가폴 여행 A to Z
                    </div>
                    <div class="ht-review-sub-title">
                        싱가폴 여행 갈때 꼭 알고 가야 할 것들
                    </div>
                    <div class="ht-reivew-editor">
                        by 한빛(hanbit)
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
{{> template/footer}}
</body>
</html>