<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<section class="ht-section-main">

</section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
{{> template/footer}}
</body>
</html>