<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header}}
<div class="contents">
    Main
</div>
{{> template/footer}}
</body>
</html>