<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>여행지에서 가능한 모든 추천 액티비티 :: THERE</title>
</head>
<body>
{{> template/header}}
<div class="contents">
    Index Page<br>
    <input type="text" id="txt-hello"><button class="say-hello">Hello</button><br>
    <button class="goto-sub btn btn-primary">Go To Sub Page</button>
</div>
{{> template/footer}}
</body>
</html>