<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header search="true" }}
<section class="ht-section-there">
    <div class="dark-layer">
        <div class="ht-there-name"></div>
        <div class="ht-there-summary"></div>
    </div>
</section>
<section></section>
<section></section>
{{> template/footer }}
</body>
</html>