<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header search="true" }}
<section class="ht-section-there">
    <div class="dark-layer">
        <div class="ht-there-name"></div>
        <div class="ht-there-summary"></div>
    </div>
</section>
<section class="ht-section-info">
    <div class="ht-section-contents">
        <div class="ht-tab">
            <ul class="ht-tab-btns">
                <li class="active">Info</li>
                <li>Traffic</li>
                <li>Map</li>
            </ul>
            <ul class="ht-tab-contents">
                <li class="active ht-tab-area-info">
                    <ul class="ht-area-info">
                    </ul>
                    <div class="ht-area-weather">
                        <div class="ht-weather-title">
                            Current Forecast
                        </div>
                        <div class="ht-weather-datetime">
                        </div>
                        <div class="ht-weather-forecast">
                        </div>
                    </div>
                </li>
                <li class="ht-tab-area-traffic">
                    bb
                </li>
                <li class="ht-tab-area-map">
                    cc
                </li>
            </ul>
        </div>
    </div>
</section>
<section></section>
{{> template/footer }}
</body>
</html>