<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{> template/title}}</title>
</head>
<body>
{{> template/header search="true" }}
<section class="ht-section-there">
    <div class="dark-layer">
        <div class="ht-there-name"></div>
        <div class="ht-there-summary"></div>
    </div>
</section>
<section class="ht-section-info">
    <div class="ht-section-contents">
        <div class="ht-tab">
            <ul class="ht-tab-btns">
                <li class="active">Info</li>
                <li>Traffic</li>
                <li>Map</li>
            </ul>
            <ul class="ht-tab-contents">
                <li class="active">aa</li>
                <li>bb</li>
                <li>cc</li>
            </ul>
        </div>
    </div>
</section>
<section></section>
{{> template/footer }}
</body>
</html>